<a href="https://colab.research.google.com/github/limseo12/Project_CP1/blob/main/Untitled53.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import pandas as pd
import io
df = pd.read_csv(io.StringIO(uploaded['Game_data_EDA.csv'].decode('utf-8')))

In [ ]:
df.head(2000)

In [ ]:
print(df.shape)

In [ ]:
## Year 기준으로 재 정렬하는 코드 ascending = True 오름차순 , False 내림차순
df_sorted_by_values = df.sort_values(by='Year', ascending=False)

In [ ]:
#정렬 결과 출력
df_sorted_by_values.head(10000)

In [ ]:
df.isnull().sum()